
.userInput-at-Index {
  background-color: #282c34;
  border-radius: 25%;
  padding: 5px;
  font-size: 20px;
}

.App-Index-logo {
  display: block;
  margin-top: 10vmin;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  display: flex;
  align-content: center;
  max-width: 400vw;
  width: 50%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin;
    animation-delay: 0.2s;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-fill-mode: backwards;
    animation-iteration-count: infinite;
   
  }
}

@keyframes App-logo-spin {
  from {  transform: rotate(-2deg); } to { transform: rotate(2deg); } 
}